<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:fragment="head">
        <title>Tienda Isaac Hernandez Esquivel</title>
        <meta charset="UTF-8"/>
        <!-- logo -->
        <link rel="icon" type="imagen/png" sizes="16x16" href="/logo/logo.png"/>

        
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
                <div class="container">
                    <a th:href="@{/}" class="navbar-brand">[[#{aplicacion.titulo}]]</a>
                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <ul class="navbar-nav">
                            <!-- | -->
                            <li class="nav-item px-2">
                                <a class="nav-link" th:href="@{/quienesSomos}">[[#{plantilla.categorias}]]</a>
                            </li>
                            <!-- | -->
                            <li class="nav-item px-2"><a class="nav-link" th:href="@{/producto/listado}">[[#{plantilla.productos}]]</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" 
                                   data-bs-toggle="dropdown" 
                                   href="#" 
                                   role="button" 
                                   aria-expanded="false">[[#{plantilla.extras}]]</a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" th:href="@{/pruebas/listado}">[[#{plantilla.asociaciones}]]</a></li>
                                    <li><a class="dropdown-item" th:href="@{/pruebas/listado2}">[[#{plantilla.consultas}]]</a></li>
                                    <li><a class="dropdown-item" th:href="@{/reportes/principal}">[[#{plantilla.reportes}]]</a></li>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" 
                                   data-bs-toggle="dropdown" 
                                   href="#" 
                                   role="button" 
                                   aria-expanded="false">[[#{plantilla.admin}]]</a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" th:href="@{/usuario/listado}">[[#{plantilla.usuarios}]]</a></li>                                    
                                    <li class="submenu submenu-md dropend">
                                        <a class="dropdown-item dropdown-toggle" role="button" 
                                           data-bs-toggle="dropdown" aria-expanded="false"
                                           onclick="event.stopPropagation();">
                                            [[#{plantilla.seguridad}]]
                                        </a>
                                        <ul class="dropdown-menu-dark">                                            
                                            <li><a class="dropdown-item" th:href="@{/role/listado}">[[#{plantilla.troles}]]</a></li>
                                            <li><a class="dropdown-item" th:href="@{/usuario_role/asignar}">[[#{plantilla.permisos}]]</a></li>
                                            <li><a class="dropdown-item" th:href="@{/ruta/listado}">[[#{plantilla.rutas}]]</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" th:href="@{/constante/listado}">[[#{plantilla.constantes}]]</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" 
                                   data-bs-toggle="dropdown" 
                                   href="#" role="button" 
                                   aria-expanded="false">[[#{plantilla.idioma}]]</a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" th:href="@{/(lang=es)}">Español</a></li>
                                    <li><a class="dropdown-item" th:href="@{/(lang=en)}">English</a></li>
                                    <li><a class="dropdown-item" th:href="@{/(lang=fr)}">Française</a></li>
                                    <li><a class="dropdown-item" th:href="@{/(lang=pt)}">Portugaise</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div id="resultBlock">

                        </div>
                    </div>
                </div>
            </nav>
            <section id="main-header" class="py-2 bg-success text-white">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1><i class="fas fa-cog"></i> [[#{plantilla.suTienda}]]</h1>
                        </div>
                    </div>
                </div>
            </section>
            <article class="text-center">
                <p class="lead">Multiservicio MYK</p>
            </article>
            <div id="carouselExampleIndicators" class="carousel slide" style="max-height: 500px; overflow: hidden;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://okdiario.com/img/2018/02/16/aceite.jpg" class="d-block w-100" style="height: 500px; object-fit: cover;" alt="First slide">
                    <</div>
                    <div class="carousel-item">
                        <img src="https://tecnoblog.mx/wp-content/uploads/2025/01/Autos-59.jpg" class="d-block w-100" style="height: 500px; object-fit: cover;" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img src="https://alianzaautomotriz.com/wp-content/uploads/2009/06/balanceo-de-las-llantas-770x489.jpg" class="d-block w-100" style="height: 500px; object-fit: cover;" alt="Third slide">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </header>
        <p class="text-center">NUMERO 000000000</p>
        <p class="text-center">GMAIL MYK@GMNSJSJF</p>
        <h1>nissan</h1>
            <h2>toyota</h2>
            <h3>volvo</h3>
            <h4>ferrari</h4>
            <h5>lambo</h5>

            <h3> lista 2/1 </h3>
            <ul>
                <li>arroz</li>

                <li>motor</li>
                <li>rines</li>
                <li>agua</li>
                <li>radio</li>
            </ul>

            <h3> lista 2/2 </h3>
            <ol type="a">
                <li>aceite</li>
                <li>frenos</li>
                <li>llantas</li>
                <li>asientos</li>
                <li>radio</li> 
            </ol>
        <article class="text-center">
                <p class="lead">Ubícanos</p>
                <div class="d-flex justify-content-center">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d609.8465514476424!2d-84.11629918650972!3d10.049218360671528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0f131f70ff929%3A0x174f1ea9e635b5b9!2sMultiservicio%20M%26K!5e0!3m2!1ses-419!2scr!4v1738034408483!5m2!1ses-419!2scr" 
                            width="1400" 
                            height="450" 
                            style="border:0;" 
                            allowfullscreen="" 
                            referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>     
            </article>
    </body>
</html>

