<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:fragment="head">
        <title>Tienda Isaac Hernandez Esquivel</title>
        <meta charset="UTF-8"/>
        <link rel="icon" type="imagen/png" sizes="16x16" href="/fav/favicon-16x16.png"/>
        <link rel="icon" type="imagen/png" sizes="32x32" href="/fav/favicon-32x32.png"/>
        <link rel="icon" type="imagen/png" sizes="96x96" href="/fav/favicon-96x96.png"/>
        <link rel="icon" type="imagen/png" sizes="256x265" href="/fav/favicon-256x265.png"/>
        
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
                <div class="container">
                    <a th:href="@{/}" class="navbar-brand">[[#{aplicacion.titulo}]]</a>
                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <ul class="navbar-nav">
                            <!-- | -->
                            <li class="nav-item px-2">
                                <a class="nav-link" th:href="@{/quienesSomos}">[[#{plantilla.categorias}]]</a>
                            </li>
                            <!-- | -->
                            <li class="nav-item px-2">
                                <a class="nav-link" th:href="@{/producto}">[[#{plantilla.productos}]]</a>
                            </li>
                            <!-- | -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" 
                                   data-bs-toggle="dropdown" 
                                   href="#" 
                                   role="button" 
                                   aria-expanded="false">[[#{plantilla.extras}]]</a>
                                <ul class="dropdown-menu dropdown-menu-dark">

                                    <!-- | -->
                                    <li>
                                        <a class="dropdown-item" th:href="@{/pruebas/listado2}">[[#{plantilla.consultas}]]</a>
                                    </li>
                                    <!-- | -->
                                    <li>
                                        <a class="dropdown-item" th:href="@{/reportes/principal}">[[#{plantilla.reportes}]]</a>
                                    </li>
                                    <!-- | -->
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" 
                                   data-bs-toggle="dropdown" 
                                   href="#" 
                                   role="button" 
                                   aria-expanded="false">[[#{plantilla.admin}]]</a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" th:href="@{/usuario/listado}">[[#{plantilla.usuarios}]]</a></li>                                    
                                    <li class="submenu submenu-md dropend">
                                        <a class="dropdown-item dropdown-toggle" role="button" 
                                           data-bs-toggle="dropdown" aria-expanded="false"
                                           onclick="event.stopPropagation();">
                                            [[#{plantilla.seguridad}]]
                                        </a>
                                        <ul class="dropdown-menu-dark">                                            
                                            <li><a class="dropdown-item" th:href="@{/role/listado}">[[#{plantilla.troles}]]</a></li>
                                            <li><a class="dropdown-item" th:href="@{/usuario_role/asignar}">[[#{plantilla.permisos}]]</a></li>
                                            <li><a class="dropdown-item" th:href="@{/ruta/listado}">[[#{plantilla.rutas}]]</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" th:href="@{/constante/listado}">[[#{plantilla.constantes}]]</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" 
                                   data-bs-toggle="dropdown" 
                                   href="#" role="button" 
                                   aria-expanded="false">[[#{plantilla.idioma}]]</a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" th:href="@{/(lang=es)}">Español</a></li>
                                    <li><a class="dropdown-item" th:href="@{/(lang=en)}">English</a></li>
                                    <li><a class="dropdown-item" th:href="@{/(lang=fr)}">Française</a></li>
                                    <li><a class="dropdown-item" th:href="@{/(lang=pt)}">Portugaise</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div id="resultBlock">

                        </div>
                    </div>
                </div>
            </nav>
            <article class="text-center">
                <p class="lead">Multiservicio MYK</p>
            </article>
            <div id="carouselExampleIndicators" class="carousel slide" style="max-height: 500px; overflow: hidden;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://okdiario.com/img/2018/02/16/aceite.jpg" class="d-block w-100" style="height: 500px; object-fit: cover;" alt="First slide">
                    <</div>
                    <div class="carousel-item">
                        <img src="https://tecnoblog.mx/wp-content/uploads/2025/01/Autos-59.jpg" class="d-block w-100" style="height: 500px; object-fit: cover;" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img src="https://alianzaautomotriz.com/wp-content/uploads/2009/06/balanceo-de-las-llantas-770x489.jpg" class="d-block w-100" style="height: 500px; object-fit: cover;" alt="Third slide">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <div>
                <div>
                    <img src="https://walmartcr.vtexassets.com/arquivos/ids/387139-800-600?v=638151934493900000&width=800&height=600&aspect=true" alt="Producto 1" width="150">
                        <h3>Aceite Mobil 1 5w50 - 1 L</h3>
                        <p>El Aceite Mobil 1 5W50 es un lubricante de alto rendimiento diseñado para satisfacer las demandas de motores modernos, incluyendo motores de alto rendimiento y deportivos. Viscosidad: 5W50, lo cual indica que ofrece una excelente fluidez en frío (viscosidad baja en frío) para facilitar el arranque en condiciones de baja temperatura, y una alta estabilidad térmica en caliente (viscosidad alta en caliente) para proteger el motor bajo condiciones de alta temperatura.</p>
                        <p>Precio: ₡14.700</p>
                </div>

                <div>
                    <img src="https://walmartcr.vtexassets.com/arquivos/ids/307425-800-600?v=637867788378300000&width=800&height=600&aspect=true" alt="Producto 2" width="150">
                        <h3>Limpiador de motor Ebullient injector concentrado - 236 ml</h3>
                        <p>El limpiador de inyectores concentrado Ebullent Engine  es un producto de limpieza de inyectores de combustible de alta calidad diseñado para limpiar los depósitos de carbono, barniz y goma de los inyectores de combustible, la admisión de aire y las cámaras de combustión</p>
                        <p>Precio: ₡2.750</p>
                </div>

                <div>
                    <img src="https://walmartcr.vtexassets.com/arquivos/ids/570992-800-600?v=638466758016130000&width=800&height=600&aspect=true" alt="Producto 3" width="150">
                        <h3>Refrigerante Coolant Ebullient antifreeze - 4.1 L</h3>
                        <p>Sufre de sobrecalentamiento en su vehículo y desea un refrigerante rendidor y a un super precio</p>
                        <p>Precio: ₡1.950</p>
                </div>
            </div>

    </body>
</html>