<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
    <head th:fragment="head">
        <title>Tienda Isaac Hernandez Esquivel</title>
        <meta charset="UTF-8"/>
        <link rel="icon" type="imagen/png" sizes="16x16" href="/fav/favicon-16x16.png"/>
        <link rel="icon" type="imagen/png" sizes="32x32" href="/fav/favicon-32x32.png"/>
        <link rel="icon" type="imagen/png" sizes="96x96" href="/fav/favicon-96x96.png"/>
        <link rel="icon" type="imagen/png" sizes="256x265" href="/fav/favicon-256x265.png"/>
        
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
        <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.css}"/>
        <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
        <script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

    </head>
    <body>
        <header th:fragment="header" class="header">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
                <div class="container">
                    <a th:href="@{/}" class="navbar-brand">[[#{aplicacion.titulo}]]</a>
                    <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <ul class="navbar-nav">
                            <!-- | -->
                            <li class="nav-item px-2">
                                <a class="nav-link" th:href="@{/quienesSomos}">[[#{plantilla.categorias}]]</a>
                            </li>
                            <!-- | -->
                            <li class="nav-item px-2"><a class="nav-link" th:href="@{/producto}">[[#{plantilla.productos}]]</a></li>
                            <!-- | -->
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" 
                                   data-bs-toggle="dropdown" 
                                   href="#" 
                                   role="button" 
                                   aria-expanded="false">[[#{plantilla.extras}]]</a>
                                <ul class="dropdown-menu dropdown-menu-dark">

                                    <!-- | -->
                                    <li>
                                        <a class="dropdown-item" th:href="@{/pruebas/listado2}">[[#{plantilla.consultas}]]</a>
                                    </li>
                                    <!-- | -->
                                    <li>
                                        <a class="dropdown-item" th:href="@{/reportes/principal}">[[#{plantilla.reportes}]]</a>
                                    </li>
                                    <!-- | -->
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" 
                                   data-bs-toggle="dropdown" 
                                   href="#" 
                                   role="button" 
                                   aria-expanded="false">[[#{plantilla.admin}]]</a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" th:href="@{/usuario/listado}">[[#{plantilla.usuarios}]]</a></li>                                    
                                    <li class="submenu submenu-md dropend">
                                        <a class="dropdown-item dropdown-toggle" role="button" 
                                           data-bs-toggle="dropdown" aria-expanded="false"
                                           onclick="event.stopPropagation();">
                                            [[#{plantilla.seguridad}]]
                                        </a>
                                        <ul class="dropdown-menu-dark">                                            
                                            <li><a class="dropdown-item" th:href="@{/role/listado}">[[#{plantilla.troles}]]</a></li>
                                            <li><a class="dropdown-item" th:href="@{/usuario_role/asignar}">[[#{plantilla.permisos}]]</a></li>
                                            <li><a class="dropdown-item" th:href="@{/ruta/listado}">[[#{plantilla.rutas}]]</a></li>
                                        </ul>
                                    </li>
                                    <li><a class="dropdown-item" th:href="@{/constante/listado}">[[#{plantilla.constantes}]]</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" 
                                   data-bs-toggle="dropdown" 
                                   href="#" role="button" 
                                   aria-expanded="false">[[#{plantilla.idioma}]]</a>
                                <ul class="dropdown-menu dropdown-menu-dark">
                                    <li><a class="dropdown-item" th:href="@{/(lang=es)}">Español</a></li>
                                    <li><a class="dropdown-item" th:href="@{/(lang=en)}">English</a></li>
                                    <li><a class="dropdown-item" th:href="@{/(lang=fr)}">Française</a></li>
                                    <li><a class="dropdown-item" th:href="@{/(lang=pt)}">Portugaise</a></li>
                                </ul>
                            </li>
                        </ul>
                        <div id="resultBlock">

                        </div>
                    </div>
                </div>
            </nav>
            <article class="text-center">
                <p class="lead">Multiservicio MYK</p>
            </article>
            <div id="carouselExampleIndicators" class="carousel slide" style="max-height: 500px; overflow: hidden;">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://okdiario.com/img/2018/02/16/aceite.jpg" class="d-block w-100" style="height: 500px; object-fit: cover;" alt="First slide">
                    <</div>
                    <div class="carousel-item">
                        <img src="https://tecnoblog.mx/wp-content/uploads/2025/01/Autos-59.jpg" class="d-block w-100" style="height: 500px; object-fit: cover;" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img src="https://alianzaautomotriz.com/wp-content/uploads/2009/06/balanceo-de-las-llantas-770x489.jpg" class="d-block w-100" style="height: 500px; object-fit: cover;" alt="Third slide">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
            <p style="text-align: center; max-width: 1200px; margin: auto;">
                El lubricentro Multiservicio MYK, fundado en 2020, se especializa en el mantenimiento preventivo y correctivo de vehículos. Ofrece cambio de aceite, mecánica rápida, balanceo y reparación de neumáticos, además de una amplia gama de accesorios automotrices.
            </p>
            
            <p style="text-align: center; max-width: 1200px; margin: auto;">
                "En Multiservicio MYK, transformamos el cuidado de tu vehículo en una experiencia de confianza y excelencia. Creemos que cada auto y moto merece atención especializada, y cada cliente, un servicio personalizado. Nos inspira la pasión por ofrecer calidad, la dedicación por innovar y el compromiso de ser más que un taller: tu aliado en cada kilómetro recorrido."
            </p>
        </header>
        <footer th:fragment="footer" class="p-2 mt-5 bg-info text-white">
            <p class="text-center lead">&COPY; [[#{plantilla.derechos}]]</p> 
        </footer>
        

    </body>
</html>
